<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="DiskIO" class="dao.impl.DiskIOImpl"></bean>
<!--    <bean id="CoffeeControl" class="controller.impl.CoffeeControlImpl"></bean>-->
<!--    <bean id="CoffeeSer" class="service.impl.CoffeeSerImpl"></bean>-->


</beans>